@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#pagecontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}

header {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/-1;
  height: 300px;
}

nav {
  font-family: "Century Gothic", serif;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 40px;
}

nav a:hover {
  text-shadow: 0px 0px 1px rgb(210, 210, 210);
  font-weight: 600;
}

aside,
nav {
  background-color: rgb(99 2 25 / 67%);
}

main {
  border-left: 1px solid rgba(125, 0, 0, 0.2);
  border-right: 1px solid rgba(125, 0, 0, 0.2);
}

header h1 {
  font-family: "Century Gothic", serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 400%;
  text-align: center;
  margin: 0;
  background-color: rgba(55, 5, 72, 0.2);
  height: 100%;
}

header h1 a {
  text-decoration: none;
  color: #b5032c;
  opacity: 0.7;
  padding: 16px;
  text-shadow: 2px 2px 10px white;
  background-color: aliceblue;
  border-radius: 4px;
  font-style: italic;
}

section {
  font-family: "Century Gothic", serif;
}

#occasion {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
}

#occasion {
  font-family: "Century Gothic", sans-serif;
}

.grid-occasion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  margin-top: 24px;
}

.big-occasion {
  padding: 0 24px;
}

.big-occasion p {
  margin-bottom: 0;
}

.big-occasion img {
  width: 100%;
  height: 80%;
}

.other-occasion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-right: 24px;
}

.other-occasion img {
  width: 100%;
  height: 80%;
}

.min-occasion {
  width: 100%;
  height: 100%;
}

.min-occasion h5 {
  margin-bottom: 0;
  margin-top: 10px;
}

#bundleup {
  display: flex;
  padding: 42px;
  font-family: "Gabriola", sans-serif;
  color: #520164;
}

#bundleup .content,
#bundleup .image {
  width: 50%;
}

#bundleup h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: clamp(32px, 2em, 52px);
  margin-top: 0;
  margin-bottom: 16px;
}

#bundleup p {
  font-size: clamp(24px, 1em, 32px);
  margin: 0;
}

#bundleup img {
  width: 100%;
  height: 100%;
}

#bundleup .border_img {
  padding: 8px;
  width: 100%;
  height: 100%;
  position: relative;
}

#bundleup .border_img .frame {
  position: absolute;
  top: 0;
  left: 0;
}

#bundleup .border_img .front {
  padding: 2px;
  position: absolute;
  top: 5px;
  right: 8px;
}

#benefits {
  display: flex;
  padding: 42px;
  flex-direction: column;
  margin-bottom: 42px;
}

section .title {
  text-align: center;
  font-weight: 300;
  font-size: clamp(24px, 2em, 40px);
  font-family: "Century Gothic", sans-serif;
}

.benefits-container {
  display: flex;
  justify-content: space-around;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  /* padding: 32px; */
  background-color: rgb(239, 239, 239);
  box-shadow: 0 5px 10px 2px rgb(170 178 198);
  font-family: "Lato", sans-serif;
  text-align: center;
  width: 33%;
}

.benefits-item img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.benefits-item h2 {
  font-size: clamp(20px, 1em, 32px);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  position: relative;
}

.flip-card-front p {
  font-weight: 700;
  font-family: "Century Gothic", serif;
  font-size: 40px;
  background-color: #d4d0d58f;
  color: rgb(102 12 63);
  width: 100%;
  margin: 0;
  height: 100%;
  line-height: 290px;
  z-index: 999;
  position: absolute;
  text-align: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  padding: 32px;
}

#testimonials h2 {
  color: white;
  font-family: "Century Gothic", serif;
  font-size: clamp(24px, 2em, 40px);
  text-align: center;
  margin: 0 0 24px 0;
  font-weight: 300;
}

.testimonials-item {
  padding: 32px;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 2px 10px 2px rgb(170 178 198);
  font-family: "Century Gothic", serif;
  text-align: center;
  margin-bottom: 32px;
  margin-right: 24px;
}

.testimonials-item p {
  margin: 0;
}

.testimonials-item .testimonials-name {
  margin-top: 24px;
  font-weight: 600;
  text-align: right;
}

#newsletter {
  display: flex;
  flex-direction: column;
  padding: 32px;
  font-family: "Century Gothic", serif;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.newsletter-info {
  display: flex;
  margin-top: 24px;
}

.newsletter-info input {
  margin-right: 20px;
  width: 80%;
  padding: 8px;
  border: 1px solid rgba(125, 0, 0);
  border-radius: 4px;
}

.newsletter-info button {
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Century Gothic", serif;
  background-color: rgba(125, 0, 0, 0.2);
  color: #780d0d;
  border: 1px solid rgba(125, 0, 0, 0.2);
  border-radius: 4px;
}

#collection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 42px 24px;
  background-color: rgb(248 247 247);
}

#collection .content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#collection .content-container {
  width: 45%;
}

#collection .content p {
  margin-right: 32px;
}

#collection .content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#compliments {
  width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  border: 1px solid #b5c1c5;
  margin: 32px auto;
}

#compliments .container {
  width: 100%;
}

#compliments .container ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#compliments .container ul li {
  list-style: none;
  text-transform: uppercase;
  color: #6f797d;
}

aside {
  padding: 32px;
}

#wrapper {
  width: 90%;
  margin: auto;
}

#categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 40px 0;
}

#categories img {
  width: 100%;
  object-fit: cover;
  margin-right: 20px;
}

#categories section {
  margin-bottom: 20px;
}

#categories section:nth-of-type(3) {
  grid-row: 1/3;
}

#categories h3 {
  margin-top: 0;
}

#heroimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

h3,
nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul {
  padding: 0;
  list-style: none;
}

.icon {
  display: block;
  font-size: 3em;
  color: rgb(35, 102, 12);
}

.item33 {
  display: inline-block;
  flex-grow: 1;
  padding-left: 10%;
}

.item25 {
  width: 23%;
  text-align: center;
  box-shadow: 0 0 20px #eee;
}

#multicol {
  display: flex;
  justify-content: space-between;
}

footer {
  font-family: "Century Gothic", serif;
  font-size: smaller;
  padding: 10px 10%;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/-1;
  background-color: rgba(125, 0, 0, 0.2);
  color: #780d0d;
}

footer nav a {
  color: #eee;
  display: block;
  padding: 0;
  text-align: left;
}

#copyright {
  font-family: "Century Gothic", serif;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.social-media {
  display: flex;
}

.fa {
  font-size: 22px;
  text-decoration: none;
  color: #575555;
}

.fa:not(:last-child) {
  margin-right: 24px;
}

/* tablet screen */
@media only screen and (max-width: 1024px) {
  #pagecontainer {
    display: block;
  }

  nav a {
    padding: 10px 30px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  nav li {
    display: inline-block;
  }

  footer nav ul li {
    display: block;
  }

  h1 {
    /* font-size: 2.5em; */
    line-height: 150%;
    margin: 32px 0;
  }

  table,
  form {
    width: 90%;
  }

  #categories section {
    width: 100%;
  }

  .benefits-container {
    flex-direction: column;
  }

  .benefits-item {
    margin: 32px auto 0;
  }

  .big-occasion {
    height: max-content;
    margin-bottom: 0;
  }
}

/* mobile screen */
@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  nav {
    border-bottom: 1px solid rgb(158, 194, 143);
  }

  nav ul {
    flex-direction: column;
    margin: 0;
  }

  nav li {
    display: block;
  }

  #bundleup {
    flex-direction: column-reverse;
  }

  #benefits {
    width: 100%;
  }

  .benefits-container {
    flex-direction: column;
  }

  .benefits-item {
    width: 100%;
    margin-top: 32px;
  }

  .grid-occasion {
    grid-template-columns: 1fr;
  }

  .big-occasion {
    height: max-content;
    margin-bottom: 32px;
  }

  .other-occasion {
    margin-left: 24px;
  }

  #multicol {
    flex-wrap: wrap;
  }

  .item25 {
    width: 50%;
  }

  #categories {
    grid-template-columns: 1fr 1fr;
  }

  .item33 {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .social-media {
    justify-content: center;
  }

  .newsletter-info {
    flex-direction: column;
  }

  .newsletter-info input {
    width: 100%;
  }

  .newsletter-info button {
    width: max-content;
    margin: 16px auto;
  }
}
